body {
  font-family: "Signika", sans-serif;
  font-size: 14px;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: black;
}

#wrapper {
  box-sizing:border-box;
  width: 698px;
  padding: 0 30px;
  margin: 0 auto;
  position: relative;
}

#header {
  box-sizing:border-box;
  position: fixed;
  padding-top: 36px;
  height: 128px;
  width: 638px;
  background: white;
  z-index: 100;
}

#header #logo {
  float: left;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
}

#header #logo.text_replaced {
  width: 300px;
  height: 32px;
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  text-indent: -9999px;
}

#header #logo .main {
  font-size: 21px;
  letter-spacing: 3px;
}

#header #logo .sub {
  font-family: 'Lato', sans-serif;
  font-size: 9px;
  letter-spacing: 3px;
  font-weight: 300;
  padding-left: 2px;
  margin-top: 3px;
}

#header #menu {
  font-family: "Josefin Sans", sans-serif;
  float: right;
  width: 194px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 10px;
  line-height: 16px;
}

#header #menu a:hover,
#header #menu li.active a {
  text-decoration: line-through;
}

#header #menu ul {
  width: 140px;
  float: left;
  margin: 0px;
}

#header #menu ul.right {
  width: 10px;
}

#header #menu ul li {
  list-style: none;
}

#header #menu ul li:hover {

}

#header #menu .main {
  color: rgb(175, 175, 175);
}

#content {
  padding-top: 128px;
  overflow: hidden;
  /*border: 1px solid red;*/
}

/* EMAIL */
#email {
  box-sizing:border-box;
  position: fixed;

  height: 7px;

  transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -webkit-transform:rotate(-90deg);
  -o-transform:rotate(-90deg);

  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 9px;
  letter-spacing: 4px;

  margin-top: 440px;
  margin-left: -122px;
}

/* HOME */
.pic_big {
  width: 638px;
}

ul.pics {
  margin: 0px;
  padding: 0px;
}

ul.pics li {
  list-style: none;
  float: left;
}

ul.pics .pic {
  width: 311px;
  height: 135px;
  margin-top: 14px;
}

ul.pics li:nth-child(even) {
  margin-left: 14px;
}

.pic {
  position: relative;
}

.pic .caption {
  display: none;
  box-sizing:border-box;
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 6px 14px;
  background-color: rgba(255, 255, 255, .4);
  text-align: right;
  font-weight: 300;
  font-size: 16px;
}

.pic:hover .caption {
  display: block;
}

/* ITEM */

.item .text {
  margin-top: 10px;
  line-height: 22px;
  font-size: 14px;
}

.item .text p {
  margin-bottom: 10px;
}

.item .text.es {
  margin-top: 20px;
  color: rgb(175, 175, 175);
}

.item .text strong {
  color: rgb(175, 175, 175);
}

.item .pic {
  margin-bottom: 20px;
  width: 100%;
}

.item .info {
  margin-top: 18px;
}

.item h2 {
  font-size: 14px;
  font-weight: 600;
}

.item hr {
  margin-top: 21px;
}

/* FOOTER */
#footer {
  height: 60px;
}