<% title "Pages > About" %>
<div class="item about">
  <div class="info">
    <div class="title">ABOUT</div>
    <div class="text en">
      <p>It was in 1997, while studying at the Business School at the University in Madrid, that Escalera, thanks to a series of Film and Video courses, defines his new career path.</p>
      <p>Upon completing his economic studies, he leaves Madrid to go first to London and then on to New York, where he takes on film courses at NYU, followed by studies at the School of Film and Television at Antonio de los Baños in Cuba.</p>
      <p>In 2000 Escalera returns to Madrid to direct his first short film Space 2.  He also starts to work as Assistant Director for television and advertising, specializing in this field which leads him to relocate to Barcelona in 2002.  There he directs his second short film Breakfast, Lunch, Dinner, Bed, which premiered in 2003 and was received in several international festivals including Uppsala (Sweden) and Gijon (Spain).</p>
    </div>

    <hr />

    <div class="text es">
      <p>It was in 1997, while studying at the Business School at the University in Madrid, that Escalera, thanks to a series of Film and Video courses, defines his new career path.</p>
      <p>Upon completing his economic studies, he leaves Madrid to go first to London and then on to New York, where he takes on film courses at NYU, followed by studies at the School of Film and Television at Antonio de los Baños in Cuba.</p>
      <p>In 2000 Escalera returns to Madrid to direct his first short film Space 2.  He also starts to work as Assistant Director for television and advertising, specializing in this field which leads him to relocate to Barcelona in 2002.  There he directs his second short film Breakfast, Lunch, Dinner, Bed, which premiered in 2003 and was received in several international festivals including Uppsala (Sweden) and Gijon (Spain).</p>
    </div>
  </div>
</div>